@model ApplicationCore.Models.TableViewModel

@{
    ViewData["Title"] = "Movie Details";
}


@foreach (var item in Model.Movies)
{
    <div class="rounded">
        <div class="container-fluid">
            <div class="row" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('@item.BackdropUrl');">
                <div class="col-sm">
                    <img src="@item.PosterUrl" alt="@item.Id" />
                </div>
                <div class="col-sm text-white">
                    <h3><strong>@item.Title</strong></h3>
                    <span class="text-muted" style="font-size:smaller;">@item.Tagline</span><br /><br />
                    <div class="row">
                        <div class="col-sm-4"><h6 class="text-muted"><strong>@item.RunTime m  |  @item.Year</strong></h6></div>
                        <div class="col-sm">
                            @foreach (var genre in Model.Genres)
                            {
                                <span class="badge badge-dark badge-pill">@genre.GenreName</span>
                            }
                        </div>
                    </div>
                    <br />
                    <div>

                    </div>
                    <p>
                        @item.Overview
                    </p>
                </div>
                <div class="col-sm">
                    <div>
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="bi bi-pencil-square"></i>
                            REVIEW
                        </button>
                    </div>
                    <div><button type="button" class="btn btn-light btn-lg">BUY $@item.Price </button></div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4 bg-light">
                    <h4><strong>MOVIE FACT</strong></h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Release Date  <span class="badge badge-dark badge-pill">@item.Date</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-hourglass-split"></i>
                            Run Time  <span class="badge badge-dark badge-pill">@item.RunTime m</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-cash-coin"></i>
                            Box Office  <span class="badge badge-dark badge-pill">@item.Revenue</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-currency-dollar"></i>
                            Budget  <span class="badge badge-dark badge-pill">@item.Budget</span>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-imdb"></i>
                            <a href=@item.ImdbUrl style="text-decoration:none;color:black;"><i class="fa fa-share-square-o"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h4><strong>CAST</strong></h4>
                    <ul class="list-group list-group-flush">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

