@model ApplicationCore.Models.TableViewModel

@{
    Layout = "_testLayout";
    ViewData["Title"] = "Movie By Genre";
    ViewBag.Length = Model.TotalItemNum;
    //int itemPerPage = Model.Genres.Count();
    int totalPages = ViewBag.Length / 30 + 1;
    int currentPage = Model.CurrentPage;
    int length = currentPage + 6;
    int i;
    if (currentPage <= 3)
    {
        i = 1;
        length = 7;
    }
    else if (currentPage + 3 >= totalPages)
    {
        i = totalPages - 6 > 0 ? totalPages - 6 : 1;
    }
    else
    { i = currentPage - 3;
        length = currentPage + 3;

    }
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm  bg-dark navbar-dark border-bottom box-shadow mb-3 fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            MovieShopMVC <i class="bi bi-film"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <div class="nav-item d-flex justify-content-start">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="genreMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GENRES
                    </button>
                    <div class="dropdown-menu" aria-labelledby="genreMenu">
                        @foreach (var item in ViewBag.Genres)
                        {
                            <a class="dropdown-item" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@item.GenreId">@item.GenreName</a>
                        }
                    </div>
                </div>
                <h4><a class="ml-3 p-1 rounded text-white page-item align-items-end" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@Model.GenreId">Hot <i class="fas fa-fire text-danger"></i></a></h4>
                <h4><a class="ml-3 p-1 rounded text-white page-item align-items-end" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@Model.GenreId" asp-route-Sort="a-z">A-Z&uarr;</a></h4>
                <h4><a class="ml-3 p-1 rounded text-white page-item align-items-end" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@Model.GenreId" asp-route-Sort="z-a">Z-A&darr;</a></h4>
                <h4><a class="ml-3 p-1 rounded text-white page-item align-items-end" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@Model.GenreId" asp-route-Sort="rating">Rating</a></h4>
            </div>
        </div>
    </div>
    <partial name="_LoginPartial" />
</nav>





<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movie in Model.Genres)
            {
                ViewBag.GenreId = movie.GenreId;
                <div class="col-xl-2 col-sm-4 col-lg-3">
                    <partial name="_MovieCard" model="movie" />
                </div>
            }
        </div>
    </div>
    <h3><span class="badge bg-light ml-lg-3">Pages: @currentPage/@totalPages</span> </h3>
</div>

@{
    string previousStatus = currentPage == 1 ? "disabled" : "";
    int previousPage = currentPage == 1 ? currentPage : currentPage-1;
    string nextStatus = currentPage == totalPages ? "disabled" : "";
    int nextPage = currentPage == totalPages ? currentPage : currentPage + 1;

}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-lg-center">

        <li class="page-item @previousStatus">
            <a class="page-link" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@ViewBag.GenreId" asp-route-Page="@previousPage">&laquo;</a>
        </li>
        <li class="page-item " aria-current="page">
            <a class="page-link" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@ViewBag.GenreId" asp-route-Page="1">FirstPage</a>
        </li>
        @do
        {
            @if (currentPage == i)
            {
                <li class="page-item active" aria-current="page">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item" aria-current="page">
                    <a class="page-link" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@ViewBag.GenreId" asp-route-Page="@i">@i</a>
                </li>
            }
            i++;
        } while (i <= length && i <= totalPages);
        <li class="page-item " aria-current="page">
            <a class="page-link" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@ViewBag.GenreId" asp-route-Page="@totalPages">LastPage</a>
        </li>
        <li class="page-item @nextStatus">
            <a class="page-link" asp-controller="Movies" asp-action="GenreViews" asp-route-id="@ViewBag.GenreId" asp-route-Page="@nextPage">&raquo;</a>
        </li>
    </ul>
</nav>
